---
---

<div class="bio">
	<p>👋 hey there, you have landed on website of a stealth company, sit tight till we fire up a landing page.</p>
	<p><a href="mailto:founders@invade.dev">say hi</a> to my creators if you can't wait to see what's been cooked.</p>
</div>

<style>
	.bio {
		text-align: left;
		width: 100%;
	}

	.bio p {
		margin-bottom: 1.5rem;
		font-size: 1.125rem;
		opacity: 0.9;
	}

	.bio p:last-child {
		margin-bottom: 0;
	}

	.bio a {
		font-weight: 500;
	}

	@media (max-width: 640px) {
		.bio p {
			font-size: 1rem;
		}
	}
</style>
